body {
  background: linear-gradient(135deg,#0f172a,#020617);
  font-family: Arial, sans-serif;
  color: white;
}

.card {
  max-width: 420px;
  margin: 80px auto;
  padding: 25px;
  background: #020617;
  border-radius: 16px;
  box-shadow: 0 0 25px rgba(0,0,0,0.6);
}

h1 {
  text-align: center;
}

p {
  text-align: center;
  opacity: .8;
}

input, select, button {
  width: 100%;
  padding: 14px;
  margin-top: 12px;
  border-radius: 10px;
  border: none;
}

button {
  background: #22c55e;
  font-weight: bold;
  font-size: 16px;
}
